{% extends 'admin_side/base_admin.html' %}

{% block content %}

    <article class="content items-list-page">
        <div class="title-search-block">
            <div class="title-block">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title"><i class="fa fa-th-large"></i> Слова
                            <a href="{% url 'word_create' %}" class="btn btn-primary btn-sm rounded-s"> <i
                                    class="fa fa-plus"></i> Новое </a>
                            <a href="{% url 'words_list_create' %}" class="btn btn-primary btn-sm rounded-s"> <i
                                    class="fa fa-plus"></i> Новый список слов </a>
                        </h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="card items">
            <ul class="item-list striped">
                <li class="item item-list-header">
                    <div class="item-row">
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Название (рус)</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Название (каз)</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Категория</span>
                            </div>
                        </div>
                    </div>
                </li>
                {% for word in words %}
                    <li class="item">
                        <div class="item-row">
                            <div class="item-col fixed item-col-title">
                                <div>
                                    <a class="edit" href="{% url 'word_update' word.id %}">
                                        {{ word.name_ru }}
                                    </a>
                                </div>
                            </div>
                            <div class="item-col fixed item-col-title">
                                <div>
                                    <a class="edit" href="{% url 'word_update' word.id %}">
                                        {{ word.name_kz }}
                                    </a>
                                </div>
                            </div>
                            <div class="item-col item-col-title">
                                <div>
                                    <h4 class="item-title"> {{ word.get_category_display }} </h4>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>

    </article>

{% endblock %}
